<a href="https://colab.research.google.com/github/Yashwantyadav1/Python_program/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = [100,200,300,400,500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
list1  = [100,200,300,400,500]
list1 = list1[::-1]
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
list1 = ["M","na","i","yash"]
list2 = ["y","me","s","want"]
list3 = [i+j for i,j in zip (list1, list2)]
print(list3)

['My', 'name', 'is', 'yashwant']

In [ ]:
numbers = [1,2,3,4,5,6,7]
# result list
res = []
for i in numbers:
  # calculate square and to the result list
  res. append(i*i)
  print(res)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]

In [ ]:
numbers = [1,2,3,4,5,6,7]
res = [x*x for x in numbers ]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
list1 = ["Hello" , "take"]
list2 = ["Dear" , "sir"]
res = [x+y for x in  list1 for y in list2]
print(res)

['HelloDear', 'Hellosir', 'takeDear', 'takesir']

In [ ]:
list1 = [10,20,30,40]
list2 =[100,200,300,400]

for x , y in zip (list1 , list2[::-1]):
  print(x,y)

10 400
20 300
30 200
40 100

In [ ]:
list1 = ["Mike","","Emma","kelly","","Brand"]
# remove None from list1 and convert result into list
res = list(filter(None , list1))
print(res)

['Mike', 'Emma', 'kelly', 'Brand']

In [ ]:
list1 = [10,20,[300,400,[5000,6000],500],30,40]
# understand indexing
# list1 [0] = 10
# list[1] = 20
# list1[2] = [300,400,[5000,6000],500]
# list1[2][2] = [5000,6000]
# list1[2][2][1] = 6000
# solution
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list1 = ["a", "b" ,["c" , ["d" , "e" , ["f" , "g"], "k"] , "l"] ,"m", "n"]
sub_list = ["h", "i", "j"]
# understand indexing
# list1[2] = ['c',['d','e',['f','g'],'k'],'l']
# list1[2][1] = ['d', 'e',['f','g'],'k']
# list[2][1][2] = ['f','g']
#solution
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
list1 = [5,10,15,20,25,50,20]
#get the first occurance index
index = list1.index(20)
#update item present at location
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

# list comprehension
# remove specific item and return a new list
def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]

# Call the function and print the result
res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

In [ ]:
list1 = [5,20,15,20,50,20]
while 20 in list1:
  list1.remove(20)
  print(list1)

[5, 15, 20, 50, 20]
[5, 15, 50, 20]
[5, 15, 50]